.DS_Store

#ignore cmakelists files
#**/CMakeLists.txt
mainblur

#ignore Scans
**/Scans

#ignore build directory
**/build

#ignore cmake files
**/CMakeFiles
**/cmake_install.cmake
**/CMakeCache.txt
**/Makefile
#ignore cmakedebug
**/cmake_debug

**/.vscode/
**/main
**/.idea
